.about {
  color: white;
  padding: 3em 20%;
  /* background-color: rgb(95, 158, 160); */
  background: linear-gradient(rgb(95, 158, 160), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  padding-bottom: 29px;
}

p {
  text-align: center;
  line-height: 2em;
}

.circle-img {
  margin: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  min-width: 450px;
}

.circle-img img {
  width: 100px;
}

.circle-img div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circle-img div h4 {
  padding-top: 10px;
}

#text {
  color: rgb(53, 90, 92);
}
.about-bottom-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.3)
    ),
    url(./picture33.jpg);
  background-size: cover;
  background-position: bottom;
  height: 70vh;
  position: relative;
  background-attachment: fixed;
  width: 100vw;
  z-index: -10;
  transform: translateY(100px);
  /* top: -300px; */
}

.about-bottom-image h2 {
  color: rgb(53, 90, 92);
  text-align: center;
  padding-top: 230px;
}

@media (max-width: 1000px) {
  .about-bottom-image {
    height: 40vh;
    top: -100px;
  }
  .circle-img div {
    padding: 0 5px;
  }

  .circle-img {
    display: flex;
    flex-direction: column;
    min-width: 100px;
  }
}

/* @media (max-width: 700px) {
  .about-bottom-image {
    top: -50vh;
  }
}

@media (max-width: 500px) {
  .about-bottom-image {
    top: -50vh;
  }
} */
